
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.w3-bar {
    background-color: #333 !important;
}

.w3-bar-item {
    padding: 14px 20px !important;
}


.w3-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.w3-bar-item.w3-button {
    display: block;
    margin: 20px;
    padding: 20px;

    border: 2px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
 
}


h1, h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
    color: #555;
}
button {
    background-color: #333;
 
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}
html {
    scroll-behavior: smooth;
}
.w3-bar-item {
    margin-bottom: 50px; 
}
